

<div class="card">
  <div class="card-header">
<div class="card-title">
  <h4 class="text-info">New User</h4>
</div>
  </div>
  <div class="card-body">
<%= render 'form', user: @user %>
  </div>
</div>